<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-tonegenerator"
  version="1.0.0">

    <name>Cordova Tone Generator Plugin</name>
    <author>Steven de Salas</author>
    <description>
This Cordova plugin generates an arbitrary audio tone at a desired frequency and volume. 
    
For more information see https://github.com/sdesalas/cordova-plugin-tonegenerator.</description>
    <license>MIT</license>
    
    <js-module src="www/tonegenerator.js" name="main">
        <clobbers target="cordova.plugins.tonegenerator" />
    </js-module>

   <!-- TODO: 
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
          <feature name="ToneGenerator">
              <param name="ios-package" value="ToneGenerator"/>
          </feature>
      </config-file>

      <header-file src="src/ios/ToneGenerator.h" />
      <source-file src="src/ios/ToneGenerator.m" />

      <framework src="CoreLocation.framework" />
    </platform> -->

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="ToneGenerator">
              <param name="android-package" value="org.apache.cordova.tonegenerator.ToneGenerator"/>
          </feature>
      </config-file>

      <source-file src="src/android/ToneGenerator.java" target-dir="src/org/apache/cordova/tonegenerator" />
    </platform>

</plugin>
